<h1>Employees</h1>
<hr />
<button class="btn btn-primary" [routerLink]="['/addEmployee']"><span class="fa fa-plus"></span> Add New</button>
<hr />

<div *ngIf="data.length==0">No Data to show </div>

  <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">
          First Name
        </th>
        <th class="th-sm">
          Last Name
        </th>
        <th class="th-sm">
          Phone
        </th>
        <th class="th-sm">
          Birth Date
        </th>
        <th class="th-sm">
          Address
        </th>
        <th class="th-sm"></th>
        <th class="th-sm"></th>
        
    </thead>
    <tbody>
      <tr *ngFor="let emp of data">
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.birthDate}}</td>
        <td>{{emp.address}}</td>
        <td>
          <center>
            <button class="btn btn-info" [routerLink]="['/editEmployee/'+emp.id]"><span class="fa fa-edit"></span></button>
          </center>
        </td>
        <td>
          <center>
            <button class="btn btn-danger" (click)="delete(emp.id)" ><span class="fa fa-times"></span></button>
          </center>
        </td>
      </tr>

    </tbody>
  </table>
