<h1>{{id ? 'Edit' : 'Add'}}  Employee</h1>
<hr />

<div class="row">
  <div class="col-md-4">
    <label class="form-label">First Name <label style="color:red">*</label></label>
    <input type="text" [(ngModel)]="firstName" required class="form-control form-control-lg" />
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="form-label">Last Name</label>
    <input type="text" [(ngModel)]="lastName" required class="form-control form-control-lg" />
  </div>

</div>
<div class="row">
  <div class="col-md-4">
    <label class="form-label">Phone <label style="color:red">*</label></label>
    <input type="tel" [(ngModel)]="phone" required class="form-control form-control-lg" />
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="form-label">Address</label>
    <textarea rows="3" [(ngModel)]="address" required class="form-control form-control-lg"></textarea>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <label class="form-label">Birth Date <label style="color:red">*</label></label>
    <input type="date" [(ngModel)]="birthDate" max="2010-01-01" min="1900-01-01" required class="form-control form-control-lg" />
  </div>

</div>

<hr />

<div class="row">
  <div class="col-md-1">
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-info" [routerLink]="['/employee']">Back</button>
  </div>
</div>
<hr />
