<h1>Add Department</h1>
<hr />

<div class="row">
  <div class="col-md-4">
    <label class="form-label" for="typeEmailX-2">Name <label style="color:red">*</label></label>
    <input type="text" [(ngModel)]="name" required class="form-control form-control-lg" />
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="form-label" for="typeEmailX-2">Address</label>
    <textarea type="text" [(ngModel)]="address" class="form-control form-control-lg" rows="5"></textarea>
  </div>

</div>
<hr />

<button class="btn btn-primary" (click)="save()">Save</button>
<hr />
