<h1>Register</h1>
<hr />

<div class="row">
  <div class="col-md-4">
    <label class="form-label" for="typeEmailX-2">Email <label style="color:red">*</label></label>
    <input type="email" [(ngModel)]="email" required class="form-control form-control-lg" />
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label class="form-label" for="typeEmailX-2">User Name <label style="color:red">*</label></label>
    <input type="text" [(ngModel)]="username" required class="form-control form-control-lg" />
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label class="form-label" for="typeEmailX-2">Password <label style="color:red">*</label></label>
    <input type="password" [(ngModel)]="password" required class="form-control form-control-lg" />
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <label class="form-label" for="typeEmailX-2">Confirm Password <label style="color:red">*</label></label>
    <input type="password" [(ngModel)]="confirmPassword" required class="form-control form-control-lg" />
  </div>
</div>
<hr />

<button class="btn btn-primary" (click)="save()">Save</button>
<hr />
